/*
	███████  ██████  ███    ██ ████████ ███████
	██      ██    ██ ████   ██    ██    ██
	█████   ██    ██ ██ ██  ██    ██    ███████
	██      ██    ██ ██  ██ ██    ██         ██
	██       ██████  ██   ████    ██    ███████
*/

@font-face {
    font-family: 'SunAntwerpen';
    src: url('/fonts/SunAntwerpen_500.eot');
    src: url('/fonts/SunAntwerpen_500.eot?#iefix') format('embedded-opentype'), url('/fonts/SunAntwerpen_500.woff') format('woff'), url('/fonts/SunAntwerpen_500.svg#proxima_nova_rgitalic') format('svg');
}
@font-face {
    font-family: 'Antwerpen';
    src: url('/fonts/Antwerpen-Regular.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/Antwerpen-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/Antwerpen-Regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/Antwerpen-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/Antwerpen-Regular.svg#Antwerpen-Regular') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'AntwerpenSmallCaps';
    src: url('/fonts/AntwerpenSmallCaps-Regular.eot');
    /* IE9 Compat Modes */
    src: url('/fonts/AntwerpenSmallCaps-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/AntwerpenSmallCaps-Regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/AntwerpenSmallCaps-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/AntwerpenSmallCaps-Regular.svg#AntwerpenSmallCaps-Regular') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?blli41');
    src: url('/fonts/icomoon.eot?blli41#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?blli41') format('truetype'), url('/fonts/icomoon.woff?blli41') format('woff'), url('/fonts/icomoon.svg?blli41#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
	██  ██████  ██████  ███    ███  ██████   ██████  ███    ██
	██ ██      ██    ██ ████  ████ ██    ██ ██    ██ ████   ██
	██ ██      ██    ██ ██ ████ ██ ██    ██ ██    ██ ██ ██  ██
	██ ██      ██    ██ ██  ██  ██ ██    ██ ██    ██ ██  ██ ██
	██  ██████  ██████  ██      ██  ██████   ██████  ██   ████
*/

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-StampIcon:before {
    content: "\e900";
}

/*
	 ██████  ███████ ███    ██ ███████ ██████   █████  ██
	██       ██      ████   ██ ██      ██   ██ ██   ██ ██
	██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██
	██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██
	 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████
*/

body, html {
    width: 100%;
    height: 100%;
    font-family: 'SunAntwerpen', sans-serif;
    font-size: 13pt;
}

/* Backend body */

body#app-layout {
    height: auto;
    min-height: 100%;
    padding: 60px 0 60px 0;
}
.login-layout {
    padding-top: 120px !important;
    /*background:-webkit-linear-gradient(left,rgb(222, 222, 222),rgba(255,0,0,0),rgb(222, 222, 222));*/
    background: url("/images/background.jpg");
}
h1, h2, h3, h4 {
    font-family: 'Antwerpen', 'Georgia', serif;
}
.form-control {
    border-radius: 0;
}
.grid-height {
    height: 60px;
}
.no-padding
/*> [class*="col-"]*/

{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.project-list {
    padding-top: 90px;
}
.project-list .project {
    background-color: grey;
}

/* Custom modal */

.modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 120px;
    width: 100%;
}
.custom-modal {
    background-color: white;
    border: 1px solid #B9B9B9;
    position: relative;
}
.custom-modal > .header {
    height: 120px;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
}
.custom-modal .content {
    padding: 30px;
}
.custom-modal.big .content {
    padding: 30px 60px;
}
.custom-modal.big > .header {
    height: 240px;
}
.custom-modal h1 {
    margin: 30px 0;
}
.custom-modal .modal-bottom {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 50%;
}
.themecol {
    padding-top: 4%;
}

.sidebar {
    padding-top: 90px;
}
.stampLink {
    color:#cf0039;
    font-size:500%;
    float:left;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.appLink {
    position: fixed;
    height: 150px;
    right: 0;
    bottom: 0;
    width: 30%;
    padding: 2%;
}
.appLink a:hover {
    text-decoration: none;
}
.appLink:hover .stampLink{
    color:#1964B2;
}
.appLink a p{
    margin-left: 4%;
    float: left;
}
.appLink a img {
    width: 30%;
    margin-left: 4%;
}
/* Angular fix */

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.angular-google-map, .angular-google-map-container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
}
.full-height {
    height: 100%;
}

/*
	███    ██  █████  ██    ██ ██  ██████   █████  ████████ ██  ██████  ███    ██
	████   ██ ██   ██ ██    ██ ██ ██       ██   ██    ██    ██ ██    ██ ████   ██
	██ ██  ██ ███████ ██    ██ ██ ██   ███ ███████    ██    ██ ██    ██ ██ ██  ██
	██  ██ ██ ██   ██  ██  ██  ██ ██    ██ ██   ██    ██    ██ ██    ██ ██  ██ ██
	██   ████ ██   ██   ████   ██  ██████  ██   ██    ██    ██  ██████  ██   ████
*/

#antwerp-menu .navbar-brand {
    font-family: 'Antwerpen', 'Georgia', serif;
	margin-left: 0;
}
#antwerp-menu .navbar-brand span {
	font-family: 'SunAntwerpen', sans-serif;
	font-size: 0.7em;
	display: block;
	line-height: 1em;
}
#antwerp-menu .navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
#antwerp-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#antwerp-menu.navbar-default {
    /*font-size: 21px;*/
    background-color: rgba(207, 0, 57, 1);
    border-bottom-width: 0px;
    border-radius: 0;
    border: none;
}
#antwerp-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(207, 0, 57, 1);
}
#antwerp-menu.navbar-default .navbar-nav>li>a:hover, #antwerp-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(184, 0, 49, 1);
}
#antwerp-menu.navbar-default .navbar-nav>.active>a, #antwerp-menu.navbar-default .navbar-nav>.active>a:hover, #antwerp-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(184, 0, 49, 1);
}
#antwerp-menu.navbar-default .navbar-toggle {
    border:none;
    padding: 13px 10px;
}
#antwerp-menu.navbar-default .navbar-toggle:hover, #antwerp-menu.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
#antwerp-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    width: 40px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}
#antwerp-menu.navbar-default .navbar-toggle:hover .icon-bar, #antwerp-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #b80031;
}
#antwerp-menu .navbar-collapse {
    border: none;
}

/*
	 ██████ ██    ██ ███████ ████████  ██████  ███    ███     ██████  ██    ██ ████████ ████████  ██████  ███    ██ ███████
	██      ██    ██ ██         ██    ██    ██ ████  ████     ██   ██ ██    ██    ██       ██    ██    ██ ████   ██ ██
	██      ██    ██ ███████    ██    ██    ██ ██ ████ ██     ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ ███████
	██      ██    ██      ██    ██    ██    ██ ██  ██  ██     ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██      ██
	 ██████  ██████  ███████    ██     ██████  ██      ██     ██████   ██████     ██       ██     ██████  ██   ████ ███████
*/

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.btn {
    border-radius: 0;
    border: none;
}
.btn.btn-antwerp-font {
    font-family: 'AntwerpenSmallCaps', 'Georgia', serif;
    font-size: 1.3em;
    /*text-transform: uppercase;*/
}
.btn-primary {
    color: #FFFFFF;
    background-color: #1964B2;
    border-color: #4E4A61;
}
.btn-default {
	border: 1px #ccc solid;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #003F72;
    border-color: #4E4A61;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #1964B2;
    border-color: #4E4A61;
}
.btn-primary .badge {
    color: #1964B2;
    background-color: #FFFFFF;
}

/*
	 ██████ ██    ██ ███████ ████████  ██████  ███    ███      ██████ ██   ██ ███████  ██████ ██   ██ ██████   ██████  ██   ██
	██      ██    ██ ██         ██    ██    ██ ████  ████     ██      ██   ██ ██      ██      ██  ██  ██   ██ ██    ██  ██ ██
	██      ██    ██ ███████    ██    ██    ██ ██ ████ ██     ██      ███████ █████   ██      █████   ██████  ██    ██   ███
	██      ██    ██      ██    ██    ██    ██ ██  ██  ██     ██      ██   ██ ██      ██      ██  ██  ██   ██ ██    ██  ██ ██
	 ██████  ██████  ███████    ██     ██████  ██      ██      ██████ ██   ██ ███████  ██████ ██   ██ ██████   ██████  ██   ██
*/

.custombox p {
    font-size: 150%;
    margin-left: 12px;
}
.custombox input[type="checkbox"] {
    display: none;
}
.custombox .wink {
    cursor: pointer;
    height: 22px;
    position: absolute;
    top: 8px;
    border: 1px solid #ddd;
}
.custombox .wink:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 12px;
    height: 8px;
    background: transparent;
    top: 4px;
    left: 5px;
    border: 3px solid #1964B2;
    border-top: none;
    border-right: none;
    transition: all 0.2s;
    transform: rotate(-45deg);
}
.custombox .wink:hover::after {
    opacity: 0.5;
    width: 18px;
    height: 11px;
    top: 1px;
    left: 2px;
}
.custombox input[type=checkbox]:checked + .wink:after {
    opacity: 1;
}

/*
	███████ ██ ███    ███ ███████ ██      ██ ███    ██ ███████
	  ██    ██ ████  ████ ██      ██      ██ ████   ██ ██
	  ██    ██ ██ ████ ██ █████   ██      ██ ██ ██  ██ █████
	  ██    ██ ██  ██  ██ ██      ██      ██ ██  ██ ██ ██
	  ██    ██ ██      ██ ███████ ███████ ██ ██   ████ ███████
*/

.fasedate {
    text-align: right;
}
.timeline {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.timeline:before {
    position: absolute;
    left: 34%;
    top: 20px;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgb(80, 80, 80) 0%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgb(80, 80, 80) 0%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgb(80, 80, 80) 0%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgb(80, 80, 80) 0%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    z-index: 5;
}
.fasedescription:before {
    /* RED ORB */
    position: absolute;
    left: -9px;
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 20px;
    border: 8px solid #D11F38;
    z-index: 10;
}
.enddate:after {
    /* TRIANGLE */
    content: "";
    position: absolute;
    left: 6px;
    margin-top: 4px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-left-color: #505050;
    border-width: 8px;
    pointer-events: none;
}
.fasedate h4 {
    margin-top: 0px;
}
.fasedescription h3 {
    margin-top: 0px;
}
.fasedescription {
    padding-left: 25px;
}
.fasedate, .fasedescription {
    margin-top: 15px;
    padding-right: 30px;
}
@media screen and (max-width: 700px) {
    .timeline:before {
/*        left: 35.5%;
        top: 40px;*/
    }
}

/*
	██████  ██████   ██████       ██ ███████  ██████ ████████
	██   ██ ██   ██ ██    ██      ██ ██      ██         ██
	██████  ██████  ██    ██      ██ █████   ██         ██
	██      ██   ██ ██    ██ ██   ██ ██      ██         ██
	██      ██   ██  ██████   █████  ███████  ██████    ██
*/

/* YT Video */

.ytvideo {
    margin: 20px 0 20px 0;
}

/* Image grid */

.imagecontainer {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
.imagediv-container {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	padding-bottom: 20px;
}
.imagediv {
	overflow: hidden;
    text-align: center;
}
.imagediv a {
	display: block;
}
.imagediv img {
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    transform: scale(1);
}
.imagediv:hover img {
    transform: scale(1.2);
}

/* Project comments */

table.opinions-table {
    width: 100%;
}
.opinions-table thead, .opinions-table tbody, .opinions-table tr, .opinions-table td, .opinions-table th {
    display: block;
}
.opinions-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.opinions-table tbody {
    height: 400px;
    overflow-y: auto;
}
.opinions-table tbody td {
    width: 100%;
    float: left;
}

/*
	██      ██ ███████ ████████ ██    ██ ██ ███████ ██     ██
	██      ██ ██         ██    ██    ██ ██ ██      ██     ██
	██      ██ ███████    ██    ██    ██ ██ █████   ██  █  ██
	██      ██      ██    ██     ██  ██  ██ ██      ██ ███ ██
	███████ ██ ███████    ██      ████   ██ ███████  ███ ███
*/

.project-list {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
.project-list .project-container {
	padding-bottom: 20px; /* padding bottom because margin on project-box could be put in the wrong column */
}
.project-list .project-box {
    background-color: #F3F3F5;
    position: relative;
    border: 1px solid gainsboro;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.project-list .project-content {
    padding: 0 20px 0 20px;
}
.project-list .project-description {
	margin-bottom: 20px;
}
.project-list h2 {
    margin-top: 0;
    padding-top: 20px;
}
.project-list h3 {
    margin: 5px 0 5px 0;
}

/*
	██████   █████   ██████ ██   ██ ███████ ███    ██ ██████
	██   ██ ██   ██ ██      ██  ██  ██      ████   ██ ██   ██
	██████  ███████ ██      █████   █████   ██ ██  ██ ██   ██
	██   ██ ██   ██ ██      ██  ██  ██      ██  ██ ██ ██   ██
	██████  ██   ██  ██████ ██   ██ ███████ ██   ████ ██████
*/

.thumbnail.active {
    background-color: lightblue;
}
.map-header {
    height: 240px;
}
.projectcontainer {
    padding-top: 1%;
}
.projectcontainer h1 {
    color: #CF0039;
}
.ytpreview {
    margin-top: 2%;
}
.projectlink {
    color: white !important;
}
.projectbody {
    max-height: 300px;
    overflow-y: auto;
}
.projectimg img {
    width: 100%;
    /*position: absolute;*/
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.projectimg {
    height: 175px;
    overflow: hidden;
    position: relative;
}
.sexpie {
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
/* STAGES */

#stages {
    table-layout: fixed;
}
#stages td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-heading {
    background-color: #CF0039 !important;
    border-color: #CF0039 !important;
    color: white !important;
    font-size: 110%;
    font-family: 'Antwerpen', 'Georgia', serif;
    padding: 15px;
}
/*.panel-default {
    border: none;
}*/
.marginbtn {
    margin-bottom: 10px;
}

/* PROPOSALS */

.proposals h1 {
    font-size: 130%;
}

/*
	███████ ██ ██      ███████     ██    ██ ██████  ██       ██████   █████  ██████
	██      ██ ██      ██          ██    ██ ██   ██ ██      ██    ██ ██   ██ ██   ██
	█████   ██ ██      █████       ██    ██ ██████  ██      ██    ██ ███████ ██   ██
	██      ██ ██      ██          ██    ██ ██      ██      ██    ██ ██   ██ ██   ██
	██      ██ ███████ ███████      ██████  ██      ███████  ██████  ██   ██ ██████
*/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*
	███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████
	████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██
	██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████
	██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██
	██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████
	                                              ▀▀
*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.project-list {
	    -webkit-column-count: 1;
	    -moz-column-count: 1;
	    column-count: 1;
		padding: 0 20px;
	}
    .appLink{
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
