/*BODY*/

.panel-heading, 
.btn-primary {
  background-color: #219dc8 !important;
  border-color: #219dc8 !important;
  color: white !important;
}
.btn-link, 
a {
  color: #219dc8 !important;
}

body, html {
  font-family: 'Lato';
  height: 100%;
  width: 100%;
}

/* BACKEND */
.thumbnail.active {
  background-color: lightblue;
}
/* File upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* NAV */

.navbar-default {
	background-color: #333333 !important;
	color: white !important;
	border: none;
	border-radius: 0px;
}

.navbar-nav a {
    color: white !important;
}
.navbar-nav a:hover {
    color: #CE003B !important;
}

.navbar-default .navbar-brand {
	color: #CE003B !important;
}
.navbar-default .navbar-brand:hover {
	color: white !important;
}

.navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a {
	background-color: #CE003B !important;
	color:white !important;
}

.dropdown-menu {
	background-color: #666666;
}

/* HOME */ 


#map {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
    top: 0;
}

.fa-btn {
    margin-right: 6px;
}

/* INFO */

#smallmap {
	height: 300px;
}

/* PROJECTS */
.ytpreview {
	margin-top: 2%;
}
/*.fasedescription {
	border-left: 1px solid #A7A7A7;
	border-top: 1px solid #A7A7A7;
} 
*/
.fasedate {
	text-align: right;
}
.frontstages {
	position: relative;
}
.frontstages:before { /*TIJDLIJN*/
  position: absolute;
  left: 34%;
  top: 20px;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}
.fasedescription:before { /* RODE BOL */
  position: absolute;
  left: -10px;
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 20px;
  border: 8px solid #D11F38;
  z-index: 10;
}
.enddate:after { /* DRIEHOEKJE */
  content: "";
  position: absolute;
  left: 5px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-left-color: #505050;
  border-width: 8px;
  pointer-events: none;
}
.fasedate h4 {
	margin-top: 0px;
}
.fasedescription h3 {
	margin-top: 0px;
}
.fasedescription {
	padding-left: 25px;
}
.fasedate, .fasedescription {
	margin-top: 15px;
	padding-right: 30px;
}

.imagediv {
  width: 21%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  float:left;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.imagediv img {
  width: 100%;
  position: absolute;
  top:-100%; left:0; right: 0; bottom:-100%;
  margin: auto;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.imagediv:hover img{
  width: 105%;
}
/* TABLE OVERFLOWS */
#stages {
	table-layout:fixed;
}

#stages td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 700px) {
	.frontstages:before{
		left: 35.5%;
		top: 40px;
	}
}