<div class="map-header">
	<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
		<ui-gmap-marker
	        idKey='project.id'
	        coords='project'
	        options='{icon:project.icon}'
	        >
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>
<div class="container projectcontainer">
	<button ui-sref="projects.map" class="btn btn-default">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Terug naar projecten
	</button>
	<button ng-click="toggleNotifications()" class="btn btn-primary pull-right">
		<span class="glyphicon" ng-class="{'spinning' : busyNotificationRequest, 'glyphicon-star-empty' : !userNotificationStatus, 'glyphicon-star' : userNotificationStatus}" aria-hidden="true"></span>
		{{userNotificationStatus ? 'Je volgt dit project' : 'Dit project volgen'}}
	</button>
	<div class="row">
		<div class="col-md-8">
			<h1>{{project.name}}</h1>
			<div ng-bind-html="project.description"></div>

			<div ng-if="project.stages.length">
			    <h2>Fases</h2>
			    <div class="timeline">
		            <div class="fase" ng-repeat="stage in project.stages">
		                <div class="fasedate col-md-4 col-xs-4"><h4>{{stage.startdate | dateToISO | date : 'longDate'}}</h4></div> <!-- in right format and Dutch -->
		                <div class="fasedescription col-md-8 col-xs-8">
		                    <h3>{{stage.name}}</h3>
		                    <div ng-bind-html="stage.description"></div>
		                    <p class="enddate">Eindigd op {{stage.enddate | dateToISO | date : 'longDate' }}</p>
		                </div>
		            </div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="">
				<div ng-show="project.youtube_id" class="embed-responsive embed-responsive-16by9 ytvideo">
					<youtube-video class="embed-responsive-item" video-id="project.youtube_id"></youtube-video>
				</div>
			</div>

			<div class="imagecontainer">
	            <div class="imagediv-container" ng-repeat="image in project.images">
		            <div class="imagediv">
		                <a href="/{{image.filename}}" data-lightbox="{{project.name}}" data-title="{{project.name}}">
		                	<img ng-src="/{{image.filename}}" alt="{{project.name}}" class="image">
		                </a>
		            </div>
				</div>
	        </div>

	        <div class="opinions">
	        	<h2>Reacties</h2>

					<div class="input-group">
						<input type="text" required class="form-control" ng-disabled="postingOpinion" placeholder="Uw reactie" ng-model="newOpinion.opinion" ng-keypress="($event.which === 13) && postOpinion()" />
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="postOpinion()">
								<span class="glyphicon glyphicon-refresh spinning" ng-show="postingOpinion" aria-hidden="true"></span>
								Toevoegen
							</button>
						</span>
					</div><!-- /input-group -->
					<small>of duw op enter om te versturen.</small>

					<table class="opinions-table table table-condensed table-striped">
					    <tbody>
					        <tr ng-repeat="opinion in project.opinions | orderBy: '-'">
					            <td>
									<a class="pull-right" ng-click="removeOpinion(opinion.id, $index)" ng-hide="!authenticated" ng-show="opinion.posted_by.id==currentUser.id || currentUser.admin">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</a>
									<strong><small>{{opinion.posted_by.full_name}}</small></strong>
					        		<div>{{opinion.opinion}}</div>
						        	<small>Op {{opinion.created_at | dateToISO | date : 'medium'}}</small>
								</td>
					        </tr>
					    </tbody>
					</table>

	        </div>

		</div>
	</div>
</div>
