
		<div class="col-md-4 col-md-push-8 sidebar">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2 no-padding">
					<button ui-sref="projects.list" ui-sref-active="active" class="btn btn-primary btn-lg btn-block">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span> lijst
					</button>
				</div>
				<div class="col-xs-4 no-padding">
					<button ui-sref="projects.map" ui-sref-active="active" class="btn btn-primary btn-lg btn-block">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> kaart
					</button>
				</div>
			</div>

		    <div class="row">
			    <div class="col-xs-offset-2 col-xs-8 no-padding themecol">
				    <h3>Thema's</h3>

			        <div class="checkbox custombox" ng-repeat="theme in themes">
			        	<input type="checkbox" name="filter" id="check{{theme.name}}" ng-model="filter[theme.id]" class="themebox">
			        	<label class="wink" for="check{{theme.name}}"></label>
			        	<label for="check{{theme.name}}"><p>{{theme.name}}</p></label>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8 col-md-pull-4 full-height" ui-view></div>

		<div class="appLink">
		    <a href="https://www.dropbox.com/s/qwxtslmj9lt1wf9/A-Project.apk?dl=0" target="_blank">
		    	<span class="icon-StampIcon stampLink"></span>
		    	<p>Zet via de app je stempel nog leuker op de stad!</p>
		    </a>
		    <a href="https://www.dropbox.com/s/qwxtslmj9lt1wf9/A-Project.apk?dl=0" target="_blank"><img src="/images/playstore.png" alt=""></a>
		    <a href="https://www.dropbox.com/s/qwxtslmj9lt1wf9/A-Project.apk?dl=0" target="_blank"><img src="/images/appstore.png" alt=""></a>
		</div>
