
		<div class="col-md-4 sidebar pull-right">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-2 no-padding">
					<button ui-sref="projects.list" ui-sref-active="active" class="btn btn-primary btn-lg btn-block">
						<span class="glyphicon glyphicon-th" aria-hidden="true"></span> lijst
					</button>
				</div>
				<div class="col-xs-4 no-padding">
					<button ui-sref="projects.map" ui-sref-active="active" class="btn btn-primary btn-lg btn-block">
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> kaart
					</button>
				</div>
			</div>
		    
		    <div class="row">
			    <div class="col-xs-offset-2 col-xs-8 no-padding themecol">
				    <h3>Thema's</h3>

			        <div class="checkbox custombox" ng-repeat="theme in themes">
			        	<input type="checkbox" name="filter" id="check{{theme.name}}" ng-model="filter[theme.id]" class="themebox">
			        	<label class="wink" for="check{{theme.name}}"></label>
			        	<label for="check{{theme.name}}"><p>{{theme.name}}</p></label>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-8 full-height" ui-view></div>