<div class="map-header">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker
	        idKey='project.id'
	        coords='project'
	        options='{icon:project.icon}'
	        >
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1>{{project.name}}</h1>
			<div ng-bind-html="project.description"></div>
		</div>
		<div class="col-md-4">
			<div ng-show="project.youtube_id" class="embed-responsive embed-responsive-16by9">
				<youtube-video class="embed-responsive-item" video-id="project.youtube_id"></youtube-video>
			</div>
		</div>
	</div>
</div>
